<p id="notice"><%= notice %></p>

<h1>Topic1s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topic1s.each do |topic1| %>
      <tr>
        <td><%= topic1.title %></td>
        <td><%= topic1.description %></td>
        <td><%= link_to 'Show', topic1 %></td>
        <td><%= link_to 'Edit', edit_topic1_path(topic1) %></td>
        <td><%= link_to 'Destroy', topic1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic1', new_topic1_path %>
